@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.clip-path-0 {
		clip-path: inset(0 0 0 0);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.fade-in-500 {
		animation: fade-in 0.5s linear;
		animation-fill-mode: forwards;
	}

	.fade-in-1000 {
		animation: fade-in 1s linear;
		animation-fill-mode: forwards;
	}

	.fade-out-1000 {
		animation: fade-out 1s linear;
		animation-fill-mode: forwards;
	}

	.img-fade-in-3000 {
		animation: img-fade-in 3s ease;
	}

	.slide-in-1000 {
		animation: slide-in-top 1s ease-out;
		animation-fill-mode: forwards;
	}

	.slide-in-1400 {
		animation: slide-in-top 1.4s ease-out;
		animation-fill-mode: forwards;
	}

	.slide-in-right {
		animation: slide-in-right 1s ease-out;
		animation-fill-mode: forwards;
	}

	.slide-in-bottom-1000 {
		animation: slide-in-bottom 1s ease-out;
		animation-fill-mode: forwards;
	}

	.text-slide-in-top-750 {
		animation: text-slide-in-top 0.75s ease-out;
		animation-fill-mode: forwards;
	}

	.text-slide-in-top-1000 {
		animation: text-slide-in-top 1s ease-out;
		animation-fill-mode: forwards;
	}

	.mission-text-slide-in-1000 {
		animation: fade-in 1s ease-out;
		animation-fill-mode: forwards;
		animation-timeline: view();
		animation-range: 80vh 81vh;
		animation-iteration-count: 1;
	}

	.animation-bounce-sm {
		animation: bounce 2s infinite;
	}

	.blur-on-scroll {
		animation: blur-on-scroll;
		animation-duration: 1ms;
		animation-direction: alternate;
		animation-timeline: scroll(block nearest);
	}

	.animation-delay-500 {
		animation-delay: 0.5s;
	}

	.animation-delay-1000 {
		animation-delay: 1s;
	}
	.animation-delay-1500 {
		animation-delay: 1.5s;
	}

	.animation-delay-1600 {
		animation-delay: 1.6s;
	}

	.animation-delay-1700 {
		animation-delay: 1.7s;
	}

	.animation-delay-1800 {
		animation-delay: 1.8s;
	}

	.animation-delay-2000 {
		animation-delay: 2s;
	}

	.animation-delay-3000 {
		animation-delay: 3s;
	}

	.animation-delay-2000 {
		animation-delay: 2s;
	}

	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

@keyframes img-fade-in {
	0% {
		opacity: 0;
		filter: blur(20px);
	}

	10% {
		opacity: 1;
		filter: brightness(2) blur(10px);
	}
}

@keyframes blur-on-scroll {
	0% {
		--tw-blur: blur(0);
	}
	10% {
		--tw-blur: blur(1px);
		filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
			var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
			var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
		opacity: 10%;
		background-color: white;
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-2%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0%);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right-50 {
	from {
		transform: translateX(-50%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-top {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes text-slide-in-top {
	from {
		transform: translateY(-50%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.text-10xl {
	font-size: 10rem !important;
	line-height: 1 !important;
}
